@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

.App {
  font-family: Jura;
  font-size: 12px;
  color: #777677;
  text-align: center;
  background-color: #12141b;
}

.bg {
  background-color: #181a21;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  border-radius: 16px;
  margin: 24px;
}